[project]
	description = This is my first App in GITHUB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/arnabseacom
[access "refs/for/refs/*"]
	read = group user/arnabseacom
	push = group user/arnabseacom
	label-Code-Review = -2..+2 group user/arnabseacom
	label-Verified = -1..+1 group user/arnabseacom
	rebase = group user/arnabseacom
	removeReviewer = group user/arnabseacom
	submit = group user/arnabseacom
[access "refs/heads/*"]
	read = group user/arnabseacom
	create = group user/arnabseacom
	push = +force group user/arnabseacom
	pushMerge = group user/arnabseacom
[access "refs/tags/*"]
	push = group user/arnabseacom
	push = +force group user/arnabseacom
